:host {
  display: block;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/OIP.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(80%);
  z-index: -1;
}
