<div class="container">
  <div class = "imagen">
    <h1>{{ title }}</h1>
    <img width="300" alt="Logo Proyecto" src="CatalogoUniversal.jpg">
  </div>
<!-- ----------------------------------------------------------------------------------------- -->
<!-- para navegar --> 
<br><br>

  <div class="dir">

    <h3><a routerLink="/Persona">PERSONAS</a></h3>

  </div>
  <br><br>

  <!-- ----------------------------------------------------------------------------------------- -->
  <!-- para mostrar los Catalogos Totales -->

  <div class="listaU">

    <h2>Todos los Catalogos</h2>



    <button (click)="consultaCatalogosTotales()" style="margin-right: 30px">Listar todos los Catalogos</button>
    <button (click)="LimpiarLista1()" style="scroll-margin-left: 30px">Linpiar todos los Catalogos</button>

    <br><br>
    <div *ngIf="controlLista1">
      <h2>{{tituloCataUniLista}}</h2>
      <table>
        <thead>
          <th>{{tablacatalogosstotales[0]}}</th>
          <th>{{tablacatalogosstotales[1]}}</th>
          <th>{{tablacatalogosstotales[2]}}</th>
        </thead>

        <tbody>
          <tr *ngFor="let catu of CataUniT">
            <th>{{ catu.IdCataUniv }} </th>
            <th>{{ catu.Denominacion }} </th>
            <th>{{ catu.TipoCatalogo}} </th>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <br><br>
</div>
 
  <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un tipo de catalogo -->

  <div class="tipo">
    <h2>Mostramos un Tipo de  Catalogo: </h2>

    <form  [formGroup]="CBCatalogoCatalogo">
      Tipos de Catalogos 
      <select formControlName="CatCatalogofiltro" (click)="ListarTiposCatalogos()">
          <option value="value1">Tipos catalogo</option>
          <option *ngFor="let Tip of ListaTipos" [value]="Tip.IdCataUniv">
             {{Tip.Denominacion}}
          </option>
      </select>
      <br> <br>
    
      <!--<button type="submit" style="margin-right: 30px" >Listar todos los Catalogos</button>-->
      <button (click)="ListarCatalogoE()">Muestra el tipo de catalogo escijido</button>
      <button (click)="LimpiarLista2()" style="scroll-margin-left: 30px">Linpiar todos los Catalogos</button>

      <br> <br>
        <div *ngIf="controlLista2">
        <h2>{{titloCataUniTipo}}</h2>   
        <table> 
            <thead>
                <th>{{tablaTipoCatalogo[0]}}</th>
                <th>{{tablaTipoCatalogo[1]}}</th> 
              <th>{{tablaTipoCatalogo[2]}}</th>
            </thead>

            <tbody>
                <tr *ngFor="let Tipo of CataUniTipo"  >
                    
                  <th> {{ Tipo.IdCataUniv }} </th>
                  <th>{{ Tipo.Denominacion }} </th>
                </tr>
            </tbody> 
          </table>
        </div>
      <br> 

    </form>

    <br>

  </div>

  <br><br>
   
<!--------------------------------------------------------------------------------------------->
 
<router-outlet />