<main class="container">

  <header>
    <figure class="imagen">
      <img src="/Logo_Reservas.png" width="150" height="150" alt="Logo Reservas">
    </figure>
    <h1>BIENVENIDO</h1>
    <p>¡Esta es tu plataforma para gestionar reservas de restaurantes!</p>
  </header>

  <section>
    <h3>
      <a routerLink="/Universal">CATALOGO UNIVERSAL</a>
    </h3>
    <h3>
      <a routerLink="/menus">MENÚS</a>
    </h3>
    <h3>
      <a routerLink="/reservas">RESERVAS</a>
    </h3>
    <h3>
      <a routerLink="/personas">PERSONAS</a>
    </h3>

    <!-- Nuevos botones -->
    <h3>
      <a routerLink="/mesas">MESAS</a>
    </h3>
    <h3>
      <a routerLink="/mesas-por-menu">MESAS POR MENU</a>
    </h3>
    <h3>
      <a routerLink="/contactos">CONTACTOS</a>
    </h3>
  </section>

</main>